/* src/styles/fonts/fonts.css */
@font-face {
    font-family: 'Konnect';
    font-weight: normal;
    src: url('/fonts/konnect_normal.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Konnect';
    font-weight: 500;
    src: url('/fonts/konnect_medium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Konnect';
    font-weight: 600;
    src: url('/fonts/konnect_semibold.woff2') format('woff2');
  }
  